<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>305677409745-3cijopo9js3ge67ju0jcblb10p8pkj5h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.305677409745-3cijopo9js3ge67ju0jcblb10p8pkj5h</string>
	<key>API_KEY</key>
	<string>AIzaSyDf_QgU4S307nyGLRhYUSO5GqjN-RMy8IU</string>
	<key>GCM_SENDER_ID</key>
	<string>305677409745</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>me.brandoneverett.TheTable</string>
	<key>PROJECT_ID</key>
	<string>the-table</string>
	<key>STORAGE_BUCKET</key>
	<string>the-table.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:305677409745:ios:9990b829cc94f94c</string>
	<key>DATABASE_URL</key>
	<string>https://the-table.firebaseio.com</string>
</dict>
</plist>